* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(14, 174, 87, 1) 0%,
    rgba(12, 116, 117, 1) 90%
  );
}
.container {
  /* display: flex;
  flex-direction: column; */
  justify-content: start;
  background-color: rgb(26, 194, 223);
  width: 90%;
  max-width: 400px;
  border-radius: 20px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-left: 10px;
}
.product {
  display: flex;

  width: 400px;
  align-items: center;
  gap: 0.9rem;
  margin: 1rem 0;
}

.elements {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;
}
img {
  width: 170px;
  margin-right: 0.7rem;
  border-radius: 30px;
}
.quantity {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100px;
  padding: 3px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 3px;
}
.minus,
.plus {
  width: 15px;
  border-radius: 2px;
  background-color: rgb(120, 152, 221);
}
.calc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 10px;
}
.foot {
  display: flex;
  justify-content: space-between;
  width: 350px;
  border-top: 1.5px solid rgb(83, 124, 212);
  margin-bottom: 0.5rem;
}

.btn-remove {
  background-color: rgb(120, 152, 221);
  border-radius: 5px;
  padding: 3px;
}
